@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Oswald:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;700&display=swap');
body {
  margin: 0;
  background: linear-gradient(90deg, #3498db, #e74c3c);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

img {
  position: absolute;
  top: 2%;
  left: 2%;
  width: 50px;
}


.container {
    background-color: rgba(255, 255, 255, .2);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    width: 75%;
    text-align: center;
}
.heading {
  color: #14213d;
  margin-top: 0;
  letter-spacing: 2px;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); 
  font-size: 35px;
}

span {
  color: #d1d2f9;
  text-shadow: 5px 4px 10px rgba(0, 0, 0, 0.3); 
  animation: shadowAnimation 2s ease infinite; 
}

@keyframes shadowAnimation {
  0% {
    text-shadow: 5px 4px 10px rgba(0, 0, 0, 0.7);
  }
  50% {
    text-shadow: 8px 6px 12px rgba(0, 0, 0, 0.9);
  }
  100% {
    text-shadow: 5px 4px 10px rgba(0, 0, 0, 0.7);
  }
}


.title {
  color: #fff;
  margin-top: 0;
  font-size: 22px;
  letter-spacing: 2px;
  font-family: 'Inconsolata', monospace;
}

.btn {
  padding: 10px 25px;
  font-size: 1em;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: #d1d2f9;
  border: none;
  border-radius: 20px;
  font-family: 'Croissant One', cursive;
  font-weight: bold;
  cursor: pointer;
  transition: .4s ease-in-out;
}

.btn:hover {
  background: #e74c3c;
}
